<% if flash[:notice] %>
<P> <%= flash[:notice] %> </P>
<% end %>

<h4> Editing Book </h4>
<%= form_for(@book) do |f| %>
  <p> title </p>
  <%= f.text_field :title, class: "book_title" %>
  <p> body </p>
  <%= f.text_field :body, class: "book_body" %>
  <%= f.submit 'Update Book' %>
  <%= link_to "show", book_path %>
  <%= link_to "back", new_book_path %>
 <% end %>